@media only screen and (min-width: 576px){ 
  h1 {
    font-size: 60px;
  }

  .centered {
    font-size: 20px;
    max-width: 703px;
  }

  .background-img {
    background-image: url(".\\public\\main.jpg");
  }
}