@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&display=swap');

// Variables based on Figma file
$font-sans-serif: Inter, 'Helvetica Neue', sans-serif;
$font-serif: 'Lora', 'Palatino', serif;
$color-luxe-gray: #393A3F;
$color-luxe-gray-light: #797B86;
$color-white: #FFF;
:root {
  font-family: $font-sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $color-luxe-gray;
  color: $color-white;
  margin: 0px;
}

h1 {
  font-family: $font-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
}


a {
  color: $color-white;
}

p {
  margin: unset;

}

.header-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  margin: 50px 25px 50px 25px;
}

.smallcaps {
  font-family: $font-sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: .09em;
  text-transform: uppercase;
  margin-bottom: 19px;
}


.centered {
  font-family: $font-sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
}


.background-img {
  width: 100vw;
  height: 945px;
  background-image: url(".\\public\\main-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
}


.numbered-circle {
  border-radius: 100%;
  background-color: $color-luxe-gray-light;
}

@media only screen and (min-width: 576px){ 
  h1 {
    font-size: 60px;
  }

  .centered {
    font-size: 20px;
    max-width: 703px;
  }

  .background-img {
    background-image: url(".\\public\\main.jpg");
  }

}



