@import "./vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lora&display=swap");

:root {
  font-family: $font-sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $color-luxe-gray;
  color: $color-white;
  margin: 0px;
  padding: 0px;
}

a {
  color: $color-white;
}

p {
  margin: unset;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 25px 50px 25px;
}

.main-header {
  font-family: $font-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
}

.smallcaps {
  font-family: $font-sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.centered {
  font-family: $font-sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
}

.background-img-mobile {
  width: 100vw;
  height: 945px;
  background-image: url("/main-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.background-img-desktop {
  display: none;
}

.numbered-circle {
  border-radius: 100%;
  background-color: rgb(57, 58, 63, 0.75);
  width: 30px;
  height: 30px;
  font-family: $font-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

#circle-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 15vw;
  top: 7%;
}

#circle-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 81vw;
  top: 9%;
}

#circle-3 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 89vw;
  top: 28%;
}

#circle-4 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 31vw;
  top: 25%;
}

#circle-5 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 18vw;
  top: 40%;
}

.bullet-list-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 25px 50px 25px;
  left: 1vw;
  top: 51%;
  gap: 30px;
}

.bullet-point-container {
  display: flex;
  align-items: flex-start;
  color: $color-luxe-gray;
  gap: 15px;
}

.bullet-number {
  font-family: $font-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  color: $color-luxe-gray-light;
  margin: 0;
  min-width: 12px;
}

.bullet-content-container {
  display: flex;
  margin-right: auto;
  flex-direction: column;
  gap: 4px;
}

.bullet-header {
  font-family: $font-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  margin: 0;
}

.bullet-body {
  font-family: $font-sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
}

.padded {
  padding: 50px 25px 50px 25px;
}

.double-image-container-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  img {
    width: 48%;
  }
}

.double-image-container-desktop {
  display: none;
}
