// Variables based on Figma file
$font-sans-serif: Inter, "Helvetica Neue", sans-serif;
$font-serif: "Lora", "Palatino", serif;
$color-luxe-gray: #393a3f;
$color-luxe-gray-light: #797b86;
$color-white: #fff;
